<h1>Recruit</h1>

{{#if order.recruit.length}}
    <table class="recruit-table">
        <thead>
            <td>Name</td>
            <td>Count</td>
            <td>Change</td>
        </thead>
        {{#each order.recruit}}
        <tr>
            <td>{{name}}</td>
            <td>{{count}}</td>
            <td>
                <button class="btn btn-small btn-remove" data-id="{{_id}}">delete</button>
            </td>
        </tr>
        {{/each}}
    </table>
    <h4>Score: {{order.score}}</h4>

    <form action="crusade" method="POST">
        <button class="btn btn-small" type="submit">CRUSADE</button>
    </form>
{{else}}
    <h3>No assembled Crusade</h3>
{{/if}}