<form action="/platoon/edit" method="POST" class="worckout-form">
    <div class="input-field">
        <input id="name" name="name" type="text" class="validate" value="{{spacemarine.name}}" required>
        <label for="name">Name</label>
        <span class="helper-text" data-error="wrong" data-success="right">required field</span>
    </div>

    <div class="input-field">
        <input id="phone" name="platoonId" type="number" class="validate" value="{{spacemarine.platoonId}}" required>
        <label for="phone">Platoon</label>
        <span class="helper-text" data-error="wrong" data-success="right">required field</span>
    </div>

    <div class="input-field">
        <input id="url" name="photo" type="text" class="validate" value="{{spacemarine.photo}}" required>
        <label for="url">Photo</label>
        <span class="helper-text" data-error="wrong" data-success="right">required field</span>
    </div>

    <div class="input-field">
        <input id="url" name="cost" type="text" class="validate" value="{{spacemarine.cost}}" required>
        <label for="url">Cost</label>
        <span class="helper-text" data-error="wrong" data-success="right">required field</span>
    </div>

    <input class="hidden" type="text" name="id" value="{{spacemarine.id}}" hidden>

    <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
</form>

<form action="/platoon/remove" method="POST">
    <input type="text" name="id" value="{{spacemarine.id}}" hidden>
    <button type="submit" class="btn waves-effect waves-light" >DEMOTE</button>
</form>